<!DOCTYPE html>
<html lang="en">

<head>
    <title>Template | Fiz Islami</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="description" content="Placeholder"/>
    <meta name="keywords" content="Placeholder"/>
    <meta name="author" content="snikfi.com by Fiz Islami"/>

    <meta property="og:title" content="Template | Fiz Islami">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Placeholder.">
    <meta property="og:site_name" content="Template | Fiz Islami">
    <meta property="og:locale" content="en_GB">
    <meta property="article:author" content="https://www.facebook.com/snikfi">
    <meta property="article:section" content="Home">
    <meta property="og:url" content="https://snikfi.com/">
    <meta property="og:image" content=""/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Template | Fiz Islami">
    <meta name="twitter:description" content="Placeholder">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:image:alt" content="Template | Fiz Islami">
    <meta name="twitter:domain" content="">

    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon.png">
    
    <meta name="x-country" content="gb">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link href="../js/jqcloud.min.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/jqcloud.min.js"></script>
    <script type="text/javascript" src="../js/fizzy.js"></script>   
    
    <link rel="stylesheet" href="../assets/main.css">
    
</head>

<body>

    <div id="menu-bar">
        <div id="menu-bar-content">
            <ul class="siteMenuList">
                <h1 class="site-title-menu">
                    <a href="https://www.snikfi.com/">Fiz Islami</a>
                </h1>
                <li class="siteMenuListItems">
                    <a href="https://www.snikfi.com/portfolio/" class="site-header-socials-anchor" id="webPortfolio">Portfolio</a>
                </li>

                <div class="socials-seperator"></div>

                <li class="siteMenuListItems">
                    <a href="../about" class="site-header-socials-anchor">About</a>
                </li>

                <div class="socials-seperator"></div>
                
                <li class="siteMenuListItems">
                    <a href="../contact" class="site-header-socials-anchor">Contact</a>
                </li>
                                    
                <div class="socials-seperator"></div>
                
                <li class="siteMenuListItems">
                    <a href="../cv" class="site-header-socials-anchor">Résumé</a>
                </li>
                
                <div id="site-logo">
                    <a href="https://www.snikfi.com/">
                        <img src="../assets/logo/snikfi.design-logo.svg" alt="snikfi design logo">
                    </a>
                </div>
            </ul>

            <div class="siteMenuListMobile">
                <h1 class="site-title-menu">
                    <a href="https://www.snikfi.com/">Fiz Islami</a>
                </h1>
                
                <div class="siteMenuListItems menu-icon">
                    <a href="#">Menu</a>
                </div>

                <div class="siteMenuListMobilePopUp">
                    <div class="siteMenuListItemsMobile siteMenuListItemsMobilePortfolio">
                        <a href="https://www.snikfi.com/portfolio/" class="">Portfolio</a>
                    </div>

                    <div class="siteMenuListItemsMobile">
                        <a href="../about">About</a>
                    </div>

                    <div class="siteMenuListItemsMobile">
                        <a href="../contact">Contact</a>
                    </div>            
                    
                    <div class="siteMenuListItemsMobile">
                        <a href="../cv">Résumé</a>
                    </div>

                    <div class="siteMenuListItemsMobile menu-collapse">
                        Collapse Menu
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcome-body" id="site-project-body">
        
        <div class="site-header">

            <h1 id="site-project-titles">Template</h1>

        </div>

        <div class="project-post">
            
            <div class="project-content">
            
                <a href="" target="_blank">
                    <button class="project-buttons">
                        Button
                    </button>
                </a>

                <h2 class="overviewRoleTitle">Title</h2>

                <ul class="overviewList">
                    <li>List</li>
                </ul>

                <div class="project-initial-image">
                    <img src="" alt="Image"/>
                </div>

                <p class="project-paragraph-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>

                <h2 class="overviewRoleSubTitle">Subtitle</h2>

                <div id="aac-presentation" style="margin-top:5vh; padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/154373242?h=afc9fbfe4e" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
                
            </div>
        
        </div>
        
    </div>
    
    <div id="site-footer">
        
        <div id="site-footer-content">
        
            <div class="site-footer-container" id="site-footer-left">

                <div id="footer-title">Thanks for visiting<br>snikfi.com</div>

                <div id="footer-subtitle">Lets stay connected</div>

                <div id="footer-socials">

                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/fisnikis/" target="_blank">
                            <img src="../assets/social-icons/linkedin-social-icon.png" alt="LinkedIn">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.instagram.com/snikfi.design/" target="_blank">
                            <img src="../assets/social-icons/instagram-social-icon.png" alt="Instagram">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.youtube.com/@snikfi" target="_blank">
                            <img src="../assets/social-icons/youtube-social-icon.png" alt="YouTube">
                        </a>
                    </div>


                </div>

                <div id="footer-contact-info">
                    <div class="contact-number"></div>
                    <div class="contact-email">
                        <div id="contact-email-listing"></div><a href="mailto:hello@snikfi.com" target="_blank">hello@snikfi.com</a>
                    </div>
                    <div class="contact-location">London, Kings Cross</div>
                </div>

                <div id="footer-copyright">
                    <div class="copyright-info">
                        Copyright &copy; <span id="copyright-date"></span> Fiz Islami All Rights Reserved.<br><br>Images found on this site are not for public or private use or distribution.
                    </div>
                </div>

            </div>

            <div class="site-footer-container" id="site-footer-right">

                <div id="footer-logo">
                    <a href="https://snikfi.com/"><img src="../assets/logo/snikfi.design-logo-white.svg" alt="snikfi design logo"></a>
                </div>

            </div>
            
        </div>
    
    </div>

    <script src="../js/menu.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="../js/smooth-scrolling.js"></script>
    <script src="../js/console-caption.js"></script>

</body>

</html>